name: "Lint"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    if: ${{ !contains(github.event.head_commit.message, '#nolint') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      pull-requests: write
      statuses: write
      checks: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        id: install
        run: |
          npm ci

      - name: "ESLint"
        id: eslint
        if: ${{ !cancelled() }}
        run: |
          npm run lint

      - name: "Prettier"
        if: ${{ !cancelled() }}
        run: |
          npm run prettier:check

      - name: "Yamllint"
        if: ${{ !cancelled() }}
        env:
          CONFIG: .github/yamllint.yaml
        run: |
          echo "::group::List Files"
          yamllint -c "${{ env.CONFIG }}" --list-files .
          echo "::endgroup::"
          yamllint -c "${{ env.CONFIG }}" .

      - name: "actionlint"
        if: ${{ !cancelled() }}
        uses: cssnr/actionlint-action@v1

      - name: "Verify action.yml"
        if: ${{ !cancelled() }}
        run: |
          yq -e '.runs.main | test("^dist/")' action.yml

      #- name: "ESLint Annotate"
      #  if: ${{ !cancelled() && steps.eslint.outcome != 'success' }}
      #  continue-on-error: true
      #  uses: ataylorme/eslint-annotate-action@d57a1193d4c59cbfbf3f86c271f42612f9dbd9e9 # 3.0.0
