name: "Lint"

on:
  workflow_dispatch:
  push:
    branches: [master]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    if: ${{ !contains(github.event.head_commit.message, '#nolint') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      pull-requests: write
      statuses: write
      checks: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "Setup Node 24"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        id: install
        run: |
          npm ci

      - name: "eslint"
        id: eslint
        if: ${{ !cancelled() }}
        run: |
          npm run lint

      - name: "prettier"
        if: ${{ !cancelled() }}
        run: |
          npm run prettier:check

      - name: "yamllint"
        if: ${{ !cancelled() }}
        env:
          CONFIG: .github/yamllint.yaml
        run: |
          echo "::group::List Files"
          yamllint -c "${{ env.CONFIG }}" --list-files .
          echo "::endgroup::"
          yamllint -c "${{ env.CONFIG }}" .

      - name: "actionlint"
        if: ${{ !cancelled() }}
        uses: cssnr/actionlint-action@v1

      - name: "Verify action.yml"
        if: ${{ !cancelled() }}
        run: |
          yq -e '.runs.main | test("^dist/")' action.yml
