name: "Master"

on:
  workflow_dispatch:
  push:
    branches: ["master"]
    paths:
      - ".github/workflows/master.yaml"
      - "dist/**"
      - "src/**"
      - "package*.json"
      - "requirements*.txt"
      - "action.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  master:
    name: "Master"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Debug CTX github"
        if: ${{ !github.event.act }}
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        if: ${{ !github.event.act }}
        continue-on-error: true
        run: |
          env

      - name: "Test Action"
        id: test
        uses: smashedr/typescript-action@master # actions-up-ignore
        with:
          summary: ${{ !github.event.act }}
          tag: "test"

      - name: "Verify Outputs"
        run: |
          echo "sha: '${{ steps.test.outputs.sha }}'"
          if [ -z '${{ steps.test.outputs.sha }}' ];then
            echo "No Output: sha"
            exit 1
          fi
